footer.footer 
   nav.footerNav 
      ul.footerNav__list 
         each link in footerLinks 
            li.footerNav__item 
               a(href="#").footerNav__link #{link}   
   p.copyright &copy; Copyright. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloribus maiores sequi autem, eos distinctio.
