section.gallery
   figure.gallery__item.gallery__item--1 
      img.gallery__photo(src="assets/img/gal-1.jpeg", alt="Gallery photo 1")
   figure.gallery__item.gallery__item--2 
      img.gallery__photo(src="assets/img/gal-2.jpeg", alt="Gallery photo 2")
   figure.gallery__item.gallery__item--3 
      img.gallery__photo(src="assets/img/gal-3.jpeg", alt="Gallery photo 3")
   figure.gallery__item.gallery__item--4 
      img.gallery__photo(src="assets/img/gal-4.jpeg", alt="Gallery photo 4")
   figure.gallery__item.gallery__item--5 
      img.gallery__photo(src="assets/img/gal-5.jpeg", alt="Gallery photo 5")
   figure.gallery__item.gallery__item--6 
      img.gallery__photo(src="assets/img/gal-6.jpeg", alt="Gallery photo 6")
   figure.gallery__item.gallery__item--7 
      img.gallery__photo(src="assets/img/gal-7.jpeg", alt="Gallery photo 7")
   figure.gallery__item.gallery__item--8 
      img.gallery__photo(src="assets/img/gal-8.jpeg", alt="Gallery photo 8")
   figure.gallery__item.gallery__item--9 
      img.gallery__photo(src="assets/img/gal-9.jpeg", alt="Gallery photo 9")
   figure.gallery__item.gallery__item--10 
      img.gallery__photo(src="assets/img/gal-10.jpeg", alt="Gallery photo 10")
   figure.gallery__item.gallery__item--11 
      img.gallery__photo(src="assets/img/gal-11.jpeg", alt="Gallery photo 11")
   figure.gallery__item.gallery__item--12 
      img.gallery__photo(src="assets/img/gal-12.jpeg", alt="Gallery photo 12")
   figure.gallery__item.gallery__item--13 
      img.gallery__photo(src="assets/img/gal-13.jpeg", alt="Gallery photo 13")
   figure.gallery__item.gallery__item--14 
      img.gallery__photo(src="assets/img/gal-14.jpeg", alt="Gallery photo 14")