header.header 
   img.header__logo(src="assets/img/logo.png", alt="Nexter logo")
   h3.title-3 Your own home
   h1.title-1 The ultimate personal freedom
   button.btn.btn--primary.header__btn(type="submit") View our properties
   .header__seenOnText As seen on
   .header__seenOnLogos
      img(src="assets/img/logo-bbc.png", alt="Seen on logo 1")
      img(src="assets/img/logo-forbes.png", alt="Seen on logo 2")
      img(src="assets/img/logo-techcrunch.png", alt="Seen on logo 2")
      img(src="assets/img/logo-bi.png", alt="Seen on logo 4")