section.story__pictures
   img.story__photo--1(src="assets/img/story-1.jpeg", alt="Couple with new house")
   img.story__photo--2(src="assets/img/story-2.jpeg", alt="New house")
section.story__content
   h3.title-3.u-mb-sm Happy Customers
   h2.title-2.title-2--dark.u-mb-md &ldquo; The best decision of our lives &rdquo;
   p.story__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem perferendis eos laudantium iusto praesentium maiores.
   button.btn.btn--primary(type="submit") Find your home 