:root {
   // colors
   --c-primary: #c69963;
   --c-primary-d: #b28451;
   --c-secondary: #101d2c;
   --c-grey-l1: #f9f7f6;
   --c-grey-l2: #aaa;
   --c-grey-d1: #54483a;
   --c-grey-d2: #6d5d4b;
   // fonts
   --f-primary: 'Nunito', sans-serif;
   --f-display: 'Josefin Sans', sans-serif;
   // general
   --transition: all 300ms ease-in-out;
   --transition-f: all 200ms ease-in-out;
}
