.btn {
   border: none;
   border-radius: 0;
   font-family: var(--f-display);
   font-size: 1.5rem;
   cursor: pointer;
   text-align: center;

   &--primary {
      background-color: var(--c-primary);
      color: white;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      transition: var(--transition-f);

      &:hover {
         background-color: var(--c-primary-d);
      }
   }
}
