extends ../templates/template
block home 
   block header 
      include ../blocks/header 
   block realtors 
      include ../blocks/realtors 
   block features 
      include ../blocks/features 
   block story 
      include ../blocks/story 
   block homes 
      include ../blocks/homes 
   block gallery
      include ../blocks/gallery