.footer {
   background-color: var(--c-secondary);
   grid-column: full-start / full-ends;
   padding: 8rem 0;
}
.footerNav {
   margin: 0 auto;
   &__list {
      list-style-type: none;
      text-align: center;
      // grid
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-template-rows: auto;
      gap: 2rem;
   }
   &__link {
      &:link,
      &:visited {
         font-size: 1.4rem;
         font-family: var(--f-display);
         text-transform: uppercase;
         padding: 1.5rem;
         color: #fff;
         text-decoration: none;
         display: block;
         transition: var(--transition);

         &:hover,
         &:active {
            background-color: rgba($color: #fff, $alpha: 0.5);
            transform: translateY(-3px);
         }
      }
   }
}

.copyright {
   width: 80%;
   margin: 0 auto;
   font-size: 1.4rem;
   margin-top: 6rem;
   text-align: center;
   color: var(--c-grey-l2);
}
